{% extends 'default/base.html' %}
{% load bootstrap %}
{% block content %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div id="del_user">
                <div class="ibox-title">
                    <h5> 删除用户</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="del_form" class="m-t" role="form" method="post" action="">
                            {% csrf_token %}
                            <table class="table">
                                <tr>
                                    <td>用户名</td>
                                    <td>邮箱</td>
                                </tr>
                                {% for i in user_list %}
                                    <tr>
                                        <td>
                                            <label><input name="get_users" type="checkbox" value="{{ i.username }}">{{ i.username }}</label>
                                        </td>
                                        <td>{{ i.email }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <button class="btn btn-large btn-primary" type="submit">确定</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}